body, input {
	color: white;
	font-family: Ubuntu, Verdana, sans;
}

body {
	background: #333333 url(../img/options_bg.png) repeat center;
}

div.spacer {
	display: inline-block;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

input, select {
	font-family: Ubuntu, Verdana, Arial, Helvetica, sans-serif;
}

input:not(.color), select, textarea, option {
	border: 1px solid #666;
	background: #444 !important;
	color: #FFF;
}

input[type="text"], input[type="password"], textarea {
	border: 1px solid #666;
	padding: 0.25em;
}

input[type="button"], input[type="submit"] {
	border: 1px solid #666;
	padding: 0.25em 0.5em 0.25em 0.5em;
}

input[type="button"]:active, input[type="submit"]:active {
	background: #666 !important;
}

input[type="image"], input[type="file"] {
	border: none !important;
	background: none !important;
}